@import "../../variables";

.ExTable
  background-color: #fefefe
  border-radius: 3px
  .action
    a
      margin: 0 8px
      i
        margin-right: 4px
  ul
    margin: 0
    padding: 0
    list-style: inside
  .tips
    color: $COLOR_DARK_GRAY
    margin-left: 5px
    font-size: 12px
    line-height: 30px
